.case {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 320px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
}
.case__title {
    font-size: 20px;
    font-weight: bold;
}
.case__description {
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.case__content {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}